<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <p>Project will be displayed here</p>
    <h1>I Love You Bannu</h1>
  {{> footer}}
  </body>

</html>
